@inherits LayoutComponentBase

<PageTitle>World Cup Sweepstakes - Indiana Soccer</PageTitle>

<HeadContent>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link href="css/raffle-styles.css" rel="stylesheet" />
</HeadContent>

<div class="raffle-page">
    <RaffleNavbar />

    <main class="raffle-main">
        @Body
    </main>

    <RaffleFooter />
</div>
