<nav class="navbar-horizontal">
    <div class="navbar-container">
        <a class="navbar-brand" href="">
            <span class="bi bi-shield-fill-check"></span>
            <span class="brand-text">MyBlazorApp</span>
        </a>

        <div class="navbar-actions">
            <a href="/cart" class="nav-icon" title="Shopping Cart">
                <span class="bi bi-cart"></span>
            </a>
            <a href="/login" class="btn-login">
                <span class="bi bi-box-arrow-in-right"></span> JOIN / LOGIN
            </a>
        </div>
    </div>
</nav>

